@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;600;700&family=Noto+Sans:ital,wght@0,100;1,100&display=swap');

* {
    /*limpia margenes*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    background-color: #121313;
}

.navbar-light {
    height: 10%;

}

.navbar-nav .nav-link {
    color: #000;
    opacity: 0.8;
}

.navbar-toggler {
    background-color: rgb(74, 78, 78);

}

.navbar-brand {
    font-size: 26px;
    font-weight: 600;
}

.navbar-light .navbar-nav .gris {
    color: #899696;
    font-weight: 600;
}

.navbar-light .navbar-nav .verde {
    color: rgb(19, 158, 30);
    font-weight: 500;
}

.carrusel {

    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;

}

.prueba {
    background: linear-gradient(to right, #0000009c, #0000009c);
}

.prueba .imgcarru {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    opacity: 0.5;
    height: 90vh;
    object-fit: cover;
}

.confe {
    width: 500px;
    margin-top: 250px;
    margin-right: 25px;
    text-align: right;
}

.enlace {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    border: solid 1px rgb(180, 179, 179);
}

.comprar {
    background-color: rgb(5, 131, 5);
    border: solid 1px rgb(5, 131, 5);
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.oradores {
    height: 100vh;
}

.carta {
    margin-left: 25px;
}

.oradores h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}

.tituloradores {
    font-size: 15px;
}

.card {
    height: 100%;
    width: 90%;
}

.cardimg {
    height: 70%;
}

.card-title {
    font-size: 15px;
    display: inline-block;
}

.java {
    background-color: rgb(221, 201, 24);
    border-radius: 3px;
    text-align: center;
}

.react {
    background-color: rgb(96, 94, 241);
    color: white;
    border-radius: 3px;
    text-align: center;
}

.negocio {
    background-color: #6a6d6d;
    color: white;
    border-radius: 3px;
    text-align: center;
}

.start {
    background-color: hsl(0, 74%, 54%);
    color: white;
    border-radius: 3px;
    text-align: center;
}

.card-body p {
    font-size: 14.5px;
}

.honolulu {
    height: 60vh;
}

.imghonolulu {
    background-image: url(../assets/img/honolulu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
    height: 100%;
}

.honolulutxt {
    background-color: rgb(73, 71, 71);
    height: 100%;
    border: 1px solid white;
}

.honolulutxt h2 {
    margin-top: 10px
}

.conocemas {
    background-color: rgb(73, 71, 71);
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100px;
}

.tituloformulario h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}

.tituloformulario h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;

}

.formulario {
   
    display: flex;
    justify-content: space-between;

}

.namelast {
    margin-bottom: 10px;
    width: 530px;

}

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    background-color: rgb(5, 131, 5);
    border: rgb(5, 131, 5);
    /*width: 1093px;*/

    margin-top: 15px;
    margin-bottom: 15px;
}

.conviertete {
    font-size: 15px;
}

footer {
    background-color: rgb(3, 65, 65);
}

.nav {
    justify-content: space-between;
}

.nav .nav-link {
    color: white;
    font-weight: 600px;
}

.col div a img {
    /*estilo del boti de BA*/
    position: fixed;
    bottom: 55px;
    right: 30px;
    width: 7%;
}

@media screen and (max-width: 1200px) {
    .confe {
      
        margin-top: 200px;
        margin-right: 25px;
        text-align: right;
    }

    .oradores {
        height: initial;
    }
    .honolulu {
        height: initial;
        padding-left: 15px;
        padding-right: 15px;
    }
    .imghonolulu {
        height: 55vh;
    }
    .namelast{
        width: 450px;
    }
}

@media screen and (max-width: 992px) {
    

    .confe {
        width: 400px;
        margin-top: 170px;
        margin-right: 25px;
        text-align: right;
    }

    .oradores {
        height: initial;
    }

    .honolulu {
        height: initial;
    }

    .imghonolulu {
        height: 59.5vh;
    }

    .form .button {
        align-items: center;
        justify-content: center;
    }

    .col div a img {
        /*estilo del boti de BA*/
        position: fixed;
        bottom: 64px;
        right: 30px;
        width: 7%;
    }
}

@media screen and (max-width: 760px) {   
    .confe {
        width: 400px;
        margin-top: 160px;
        margin-right: 25px;
        text-align: right;
    }
    .oradores {
        height: initial;
    }

    .honolulu {
        height: initial;
    }

    .imghonolulu {
        height: 74vh;
    }
   

    .col div a img {
        /*estilo del boti de BA*/
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 7%;
    }
}

@media screen and (max-width: 576px) {

    .navbar-collapse {
        background-color: #fff; /* Cambiar el color de fondo */
        border-top: 1px solid #ccc;
      }
    .confe {
        width: 300px;
        margin-top: 110px;
        margin-right: 25px;
       font-size: 15px;
        text-align: right;
    }
  
    .col div a img {
        /*estilo del boti de BA*/
        position: fixed;
        bottom: 60px;
        right: 30px;
        width: 7%;
    }
}
